@import 
 './variables.scss',
 './reset.scss';

.main-body > div{
    padding: 0 12%;
}

.home{
    
    height: 100vh;
    background: $bg1;
    @include flex(column, center, '');
    padding-top: 50px;

    & .home-title{
        flex: 1;
        @include flex(row, '', center);

        & > .home-title-txt{
            margin-left: 20px;
            & h4{
                @include font(29px, 800);
            }

            & p{
                @include font(25px, 0);
                margin-top: 10px;
            }
        }
    }
}

.home-big-box{
    flex: 2;
    height: calc(100vh/1.5);
    @include shadowBox;
}

.home-anim-box{
    width: 100%;
    flex: 3;
    @include flex(row, '', '');

    & > .home-anim-boxs {
        flex: 1;
        @include flex(column, '', center);
        & > div {
            width: 250px;
            height: calc(100vh/5);
            @include shadowBox;
        }

        & > div:not(:first-child){
            margin-top: 30px;
        }
    }
}

.skils{
    height: 1000px;
    background: $bg1;
    border-top: 15px solid var(--grey100);
    @include flex(column, '', center);

    & > .skils-title{
        width: 100%;
        height: 50px;
        padding: 50px 0 60px;
        @include flex(row, center, center);
        & > h4{
            margin-left: 15px;
            @include font(35px, 800);
        }
    }

    & > .skils-cont{
        width: 100%;
        flex: 1;
        @include flex(row, center, center);
        & > div {
            flex: 1;
            padding: 0 40px;
            height: 100%;
        }
        & .skilbox1 {
            height: calc(100% - 50px);
        }
        & .skilbox2 {
            height: calc(100% - 300px);
        }
        & .skilbox3 {
            height: calc(100% - 150px);
        }
    }
}

.career{
    height: 1000px;
    background: $bg1;
    border-top: 15px solid var(--grey100);
    @include flex(column, '', center);

    & > .career-title{
        width: 100%;
        height: 50px;
        padding: 50px 0;
        @include flex(row, center, center);
        & > h4{
            margin-left: 15px;
            @include font(35px, 800);
        }
    }

    & > .career-swiper{
        width: 100%;
        flex: 1;
        @include flex(row, center, center);
    }

    & .career-box{
        width: 100%;
        height: 100%;
        @include flex(column, center, center);
        @include shadowBox;
        border-radius: 0;
    }
}

/*  swiper */
.swiper {
    width: 90%;
    height: calc(100% - 150px);
    position: absolute;
    margin-left: -150px;
    margin-top: -150px;
}

.swiper-cube-shadow{
    opacity: 0.3 !important;
}

.swiper-horizontal>.swiper-pagination-bullets{
    bottom: -60px !important;
}

.swiper-pagination-bullet{
    width: 40px !important;
    height: 5px !important;
    border-radius: 0 !important;
}

.swiper-pagination-bullet-active{
    background: $blue !important;
}

/*  swiper end */


.scroll-box{
    @include shadowBox;
}

.about{
    height: 1000px;
    background: $bg2;
}



.header{
    position: fixed;
    @include position(0,0,'',0);
    width: 100%;
    z-index: 2000;
    border: 0;
    background: $bg1;
}

.header-wrap{
    width: 70vw;
    height: 55px;
    margin: 0 auto;
    @include flex(row, space-between,center);
}

.header-menu{
    @include flex(row, space-between, center);
    @include font(17px, 700);
    width: 300px;

    & li {
        cursor: pointer;
        padding: 8px 10px;
        border-radius: 10px;
    }

    & li:hover{
        background-color: var(--greyOpacity100);
    }
}

.logo{
    @include font(25px, 800);
    cursor: pointer;
}