@import 
 './variables.scss',
 './reset.scss';

.home{
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    background: $bg1;
    @include flex(column, center, '');
    padding-top: 50px;

    & .img-div{
        flex: 1;
        @include flex(row, '', center);

        & > .text-box{
            margin-left: 20px;
            & h4{
                @include font(29px, 800);
            }

            & p{
                @include font(25px, 0);
                margin-top: 10px;
            }
        }
    }
}

.big-box{
    flex: 2;
    height: calc(100vh/1.5);
    @include animBox;
}

.anim-box{
    width: 100%;
    flex: 3;
    @include flex(row, '', '');

    & > .anim-boxs {
        flex: 1;
        @include flex(column, '', center);
        & > div {
            width: 250px;
            height: calc(100vh/5);
            @include animBox;
        }

        & > div:not(:first-child){
            margin-top: 30px;
        }
    }
}

.about{
    height: 800px;
    background: $bg2;
    @include flex(row, center, center);
}

.about-anim-box{
    width: 500px;
    height: calc(100vh/3);
    @include animBox;
}

.skils{
    height: 800px;
    background: $bg1;
}

.career{
    height: 800px;
    background: $bg2;
}

.header{
    position: fixed;
    @include position(0,0,'',0);
    width: 100%;
    z-index: 2000;
    border: 0;
    background: $bg1;
}

.header-wrap{
    width: 70vw;
    height: 55px;
    margin: 0 auto;
    @include flex(row, space-between,center);
}

.header-menu{
    @include flex(row, space-between, center);
    @include font(17px, 700);
    width: 300px;

    & li {
        cursor: pointer;
        padding: 8px 10px;
        border-radius: 10px;
    }

    & li:hover{
        background-color: var(--greyOpacity100);
    }
}

.logo{
    @include font(25px, 800);
    cursor: pointer;
}